body{
	font-family:"Potatoes And Peas";
	text-align:center;
	padding-top:5;
}
header nav{
	margin-top:-5;
	background:	radial-gradient(#72E5C5,#3F7F6D);
	font-family:"Potatoes And Peas";
	text-transform:uppercase;
	right: 0;
  	left: 0;
	position: fixed;
	z-index: 2;
}
header::after { 
    content: " ";
	display: table;
	clear: both;
	background:blue;
}
header{
	background-image:url("image/Pig.jpg");
	size:200%;
}
header h1{
	margin:70px;
	position: relative;
	transform: translateY(50%);
	color:beige;
}
nav{
	text-align:center;
}
nav ul{
	margin:0;
	padding:0;
	list-style:none;
}
nav li{
	display:inline-block;
	margin-left: 30px;
	margin-right: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	position:relative;
}
nav a{
	color: #3F7F6D;
	text-decoration:none;
	font-size: 160%;
}
nav a:hover{
	text-decoration:none;
	color:#ffffe6;
}
nav a::before{
	content:'';
	display:block;
	height:5px;
	background-color:#ffffe6;
	border-radius: 5px;

	position: absolute;
	top:0;
	width:0%;

	transition:all ease-in-out 200ms;
}
nav a:hover::before{
	width:100%;
}
a img{
	border-radius: 40px;
	width:100%;
}
.linha{
	border:1px black;
}
.indent{
	margin-left:20px;
}
div h1{
	font-family:"Potatoes And Peas";
	font-size:300%;
}
div h2{
	font-family:"Potatoes And Peas";
	font-size:200%;
}
div a p{
	text-align:center;
	font-family:"Potatoes And Peas";
	font-size:120%;
	color: #3F7F6D;
}
div a h2{
	text-align:center;
	font-family:"Potatoes And Peas";
	font-size:200%;
	color: #3F7F6D;
}
div p{
	text-align:left;
	font-family:"Potatoes And Peas";
	font-size:120%;
}
div {
	font-family:"Potatoes And Peas";
	font-size:120%;
}
.container{
	border-radius: 40px;
}
.corfundo{
	background:antiquewhite;
}
.corprojetos{
	margin:30px;
	background:radial-gradient(#3F7F6D,#72E5C5);
}
.grow:hover{
        transform: scale(1.07);
        transition: all 0.5s ease-in-out;
}